* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

img {
    width: 200px;
    height: auto;
    margin-top: 20px;
}


h1 {
    color: #4CAF50;
    font-size: 2em;
    margin-top: 20px;
}


button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


button a:hover {
    color: #ddd;
}


h3 {
    color: #666;
    margin-top: 20px;
}

h3 a {
    color: #4CAF50;
    text-decoration: none;
}

h3 a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.acc {  
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}


.acc a {
    color: #4CAF50;
    text-decoration: none;
    margin-left: 5px;
}

.acc a:hover {
    text-decoration: underline;
}



@media (max-width: 780px) {
    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}

